@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    border: 1px solid #2959b9;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(18, 79, 200, 0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(766, 222, 211, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(18, 118, 177);
}

input::placeholder {
    color: rgba(17, 126, 203);
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #6015bd;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(147, 38, 242, 0.408);
    cursor: pointer;
}

.equalBtn {
    color: #6015bd;
    background-color: rgb(17, 126, 203);
}

.operator {
    color: rgb(19, 141, 198);
}